@import 'partials/reset';
@import 'partials/base';

@import 'modules/forms';
@import 'modules/menus';

@import 'vendor/slider';

$fuente: arial;
$color1: black;
$colorTexto: #FF2E2F;

body {
  font-family: $fuente;
  color: $color1;
}
